.zip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.folder-default-icon {
    background-image: url("/icons/folder.svg");
}

.file-default-icon {
    background-image: url("/icons/file.svg");
}