body {
    font-size: 14px;
}

main {
    width: 100vw;
    height: 100vh;
}

.zip-icon {
    flex-shrink: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.folder-default-icon {
    background-image: url("/icons/folder.svg");
}

.file-default-icon {
    background-image: url("/icons/file.svg");
}