.zip {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.zip-header {
    flex-shrink: 0;
}

.zip-item {
    display: flex;
    align-items: center;
    min-height: 36px;

    > div {
        width: 25%;
        padding-left: 5px;
        -webkit-user-select: none;
        user-select: none;
    }
}

.zip-path {
    margin-bottom: 5px;
}

.zip-back {
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    color: #999;

    &:not(:disabled) {
        color: #666;
        cursor: pointer;

        &:hover {
            background-color: #e5e7eb;
        }

        &:active {
            background-color: #d1d5dc;
        }
    }
}

.zip-path-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #d1d5dc;
    height: 28px;
    line-height: 1;
    border-radius: 3px;
    color: #666;
}

.zip-header,
.zip-list {
    padding: 0 10px;
}

.zip-list {
    flex-grow: 1;
    overflow: auto;
    cursor: default;

    .zip-item {
        border: 1px solid transparent;

        &:hover {
            background-color: #eee;
        }

        &.zip-item-selected {
            background-color: #bedbff;
        }

        &:not(:last-child) {
            border-bottom-color: #fafafa;
        }

        &.zip-item-ctx-menu {
            border-color: #54a2ff;
        }
    }

    .file-name {
        display: flex;
        align-items: center;
    }
}

.zip-ctx-menu {
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.zip-ctx-menu-item {
    outline: none;
    padding: 5px;
    border-radius: 3px;
    color: #333;
    cursor: default;

    &:hover {
        background-color: #90c5ff;
        color: #fff;
    }
}
